@import url("https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");


/*Default skin is skin-blue, so overwrite with our own style*/
.skin-blue .main-header .navbar {
    background-color: #ffffff;
}

.skin-blue .main-header .logo {
    font-family: "Open Sans", Times, "Times New Roman", serif;
    font-weight: lighter;
    font-size: 20px;
    background-color: #ffffff;
    color: #000;
    text-align: center;
}

.skin-blue .main-header .logo:hover {
    background-color: #d9dee4;
}

.skin-blue .main-header .navbar .sidebar-toggle {
    color: rgb(60, 60, 60)
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: #d9dee4;
    color: rgb(60, 60, 60)
}

.skin-blue .main-header .navbar .nav>li>a {
  color: rgb(60, 60, 60)
}

.skin-blue .main-header .navbar .nav>li>a:hover {
  background-color: #d9dee4;
  color: rgb(60, 60, 60)
}

.skin-blue .main-sidebar {
  box-shadow: 7px 20px 12px rgba(0, 0, 0, 0.15);
}

.box.box-primary {
  border-top-color: #548687;
}

.box.box-warning {
  border-top-color: #FCAA67;
  border-top-color: #B0413E;
}

.box.box-solid.box-primary {
  border: 1px solid #473335;
}

.box.box-solid.box-primary>.box-header {
  color: #fff;
  background: #548687;
  background-color: #548687;
}

.panel-primary {
  border-color: #473335;
}

.panel-primary>.panel-heading {
  color: #fff;
  background-color: #548687;
  border-color: #548687;
}

.nav-tabs-custom {
    border: 1px solid #473335;
    background-color: #548687;
    margin-bottom: 10px;
}

.nav-tabs-custom>.nav-tabs>li.header {
  color: white;
}

.nav-tabs-custom>.nav-tabs>li.active {
  border-top-color: #FCAA67;
}

.box-body.box-overflow-y {
  overflow-y: auto;
  height: 537px;
}

.selectize-control {
  margin-bottom: 0px;
}

h4.panel-title {
  font-size: 14px;
}

.hoverPanel {
  /*position:absolute;*/
  /*z-index:100;*/
  background-color: rgba(0, 0, 0, 0.7);
  color: rgb(222, 222, 222);
  padding: 8px 8px 0px 8px;
  border-radius: 3px;
  line-height: 10px;
}

#rgns1All, #rgns2All, #rgns3All, #rgns4All, #rgns5All, #rgnSelectAll {
  padding: 1px 7px;
  font-size: 12px;
}

#rgnSelectAll {
  margin-bottom: 5px;
}

#fileSelect>span>.form-group, #triggerUploadModal {
  margin: 6px 0px 0px 10px;
}

.table-title {
  margin-bottom: 5px;
}

.form-group {
  margin-bottom: 3px;
}

.dropdown.fileSelectLabel {
  font-size: 14px;
  font-weight: 600;
  padding: 13px 10px;
}

/* For segmented radio buttons */
.radio-inline {
  padding: 0px;
  margin-right: -14px;
  margin-left: 0px;
  cursor: pointer;
}

.shiny-options-group>.radio-inline:first-of-type>span  {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.shiny-options-group>.radio-inline:last-of-type>span  {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.radio-inline input[type=radio] {
  display: none;
}

.radio-inline input[type=radio] + span {
  background: #fff;
  padding: 2px 16px;
  border: 1px solid #ccc;
}

.radio-inline input[type=radio]:checked + span {
  background: #ddd;
}
