@import url("https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");


/*Default skin is skin-blue, so overwrite with our own style*/
.skin-blue .main-header .navbar {
    background-color: #fff;
}

.skin-blue .main-header .logo {
    font-family: "Open Sans", Times, "Times New Roman", serif;
    font-weight: bold;
    font-size: 20px;
    background-color: #fff;
    color: #555;
    text-align: left;
}

.skin-blue .main-header .logo:hover {
    background-color: #fff;
}

.nav-tabs-custom {
    color: white;
    border: 1px solid #f39c12;
    background-color: #f39c12;
}

.nav-tabs-custom>.nav-tabs>li.header {
  color: white;
}

.box.box-solid.box-primary {
  overflow-y: auto;
}

h4.panel-title {
  font-size: 14px;
}

#rgns2All {
  padding: 1px 7px;
  font-size: 12px;
}
